
 body {
  margin: 0;
  font-family: 'Google Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.create-new {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.create-new:hover {
  background-color: #0056b3;
}
